.main-container h3 {
  text-align: center;
}

.filter-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.filter-link.active {
  transform: scale(2);
  background-color: blue;
  color: white;
}

.filtered-block {
  color: white;
  width: 50px;
  height: 50px;
}

.portfolio-container {
  gap: 20px;
}

.portfolio-container,
.filtered-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.search-input-filter {
  margin-top: 50px;
}

.search-input-field {
  margin-bottom: 40px;
}

.search-filtered-blocks {
  display: flex;
  gap: 40px;
}

.react-filtered-blocks-container,
.search-filtered-blocks-container {
  display: flex;
  gap: 20px;
}
